{% extends 'Properties/base.html' %} {% block content %}
<h1>{{ property.title }}</h1>
<p>Price: ₦{{ property.price }}</p>
<p>Description: {{ property.description }}</p>
<p>Agent: {{ property.agent.username }}</p>
<p>Address: {{ property.address }}</p>
<p>Property Type: {{ property.property_type }}</p>
<p>Bedrooms: {{ property.bedrooms }}</p>
<p>Bathrooms: {{ property.bathrooms }}</p>
<p>Square Footage: {{ property.Sqm }} sq ft</p>
{% if request.user == property.agent %}
    <a href="{% url 'update_property' property.id %}">Edit Property</a>
{% endif %}
 {% endblock %}
